.backgroundColor{
    background-color: black;
}
#Portfolio{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 2rem;
    gap: 1rem;
    
}
.title__portfolio{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.text__portfolio{
    font-size: 20px;
    padding-left: 2rem;
    color: white;
    
}
.link-complete__portfolio a{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.container__portfolio{
    padding: 1rem;
}
