#Portfolio{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 2rem;
    gap: 1rem
}
.title__portfolio{
    font-size: 40px;
    font-weight: 600;
}
.text__portfolio{
    font-size: 20px;
    padding-left: 2rem;
    
}
.link-complete__portfolio a{
    color: black;
    cursor: pointer;
}
.container__portfolio{
    padding: 2rem;
}
